body, html, * {
  font-family: "Special Elite", monospace;
}

html {
  font-size: 1.5em;
}

p {
  margin: 0 0 1rem 0;
}

img {
  margin: 0;
}

.title, b {
  font-weight: 700;
}

.is-size-8 {
  font-size: 0.5rem;
}

a {
  color: #55a009;
}