---
layout: default
---

{% for post in paginator.posts %}
  <h2 class="title is-5">
    <a href="{{ post.url }}" class="has-text-link">
      {{ post.title }}
    </a>
  </h2>

  <h3 class="subtitle is-5">{{ post.date | date: "%F" }}</h3>

  {{ post.content }}

  <hr>
{% endfor %}

{% if paginator.next_page or paginator.previous_page %}
<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">
          <span class="icon">
            <i class="fa fa-arrow-left"></i>
          </span>

          <span>Previous</span>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="level-right">
    <div class="level-item">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">
          <span>Next</span>

          <span class="icon">
            <i class="fa fa-arrow-right"></i>
          </span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}