<html>
  <head>
    <title>Threads</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/line-awesome/line-awesome/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <h1 class="title">
              <a href="/" class="has-text-dark">
                Threads
              </a>
            </h1>

            <hr>

            {{ content }}

            <footer>
              <div class="has-text-grey-lighter is-size-8">
                <a class="has-text-grey-lighter" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">The work on this site is licensed under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
              </div>
            </footer>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>